*{
     margin:0;
     padding:0;

}

body{
    font-family:'Gabarito',sans-serif;

}

.navbar{
padding:10px;
display:flex;
justify-content:Space-between;
border-bottom:solid black 2px;
gap:10px;
align-items:center;
position:sticky;
top:0;
z-index:1;


}

.navbar__s1__title{
    color:rgb(156, 60, 247);
}

.navbar__s2{
    padding:10px;
    width:60%;
    border:solid black 1px;
    border-radius:30px;
    display:flex;
    gap:10px;
align-items:center;
}

.navbar__s2 input{
    border:none;
    width:100%;
    display:flex;
font-size:20px;
background-color:transparent;
}

.navbar__s2 input:focus{
    outline:none;
}

.navbar__s3{
    display:flex;
    gap:10px;
align-items:center;
}

/* My learning */

.mylearning{
    position:relative;
cursor:pointer;
}

.mylearning__popup{
    position:absolute;
    border:solid black 2px;
    background-color:white;
    padding:10px;
    top:30px;
    right:0;
display:none;
}
.categories{
 display:flex;
 justify-content:space-between;
 padding:20px;
border-bottom:solid black 1px;
}

.categories p
    {
background-color:blueviolet;
border-radius:30px;
color:white;
padding:10px;
border:solid black 1px;
cursor:pointer;    

}


.categories p:hover{
transition:1s;
background-color:transparent;
color:black;
border:solid black 1px;
}




.sale image{
    position:relative;
 width:150%;   
}

.sale-image__offer{
    position:absolute;
    left:70px;
    top:300px;
    border:solid black 2px;
    padding:20px;
animation-name:zoom;
animation-duration:2s;
opacity:0;
animation-fill-mode:forwards;


}

@keyframes zoom{
    0%{
        opacity:0;
        transform:scale(0);
        }

100%{
    opacity:1;
    transform:scale(1);

}

}

.recommended{
padding:10px;

}

.recommended__container{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
    justify-content:space-around;

}

.course-card{
    width:300px;
}
   
.course-card img{
    height:60%;
    width:100%;
}
.Topics{
    padding:10px;
}

.Topics__container{
    display:flex;
gap:10px;
flex-wrap:wrap;
}

.Topics__container p{
    padding:10px;
    border:solid black 2px;
flex-basis:25%;
   
    flex-grow:1;

}

.Popular{
    padding:10px;
    margin-top:10px;
}

.Popular__container{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-top:10px;

}

.footer{
    padding:30px;
    background-color:black;
    color:white;
    margin-left:10px;
}

.footer__one{
    gap:10px;
    display:flex;
   margin-top:10px; 
}

.footer__one p{
    margin:30px;
}
.footer__one-s2{
    margin-left:30px;

}
.footer__two{
    margin:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.mylearning:hover .mylearning__popup{
    display:block;
    
}